body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1922px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9159 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u9159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:963px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9160 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:152px;
  width:1024px;
  height:963px;
  display:flex;
}
#u9160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9161 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:181px;
  width:28px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9161 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9161_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u9162 {
  border-width:0px;
  position:absolute;
  left:1436px;
  top:182px;
  width:15px;
  height:15px;
  display:flex;
  font-size:14px;
}
#u9162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9163 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:223px;
  width:67px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u9163 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9163_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9164_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9164_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u9164 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:216px;
  width:360px;
  height:30px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u9164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9164_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u9164.disabled {
}
#u9165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(100, 126, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9166 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:1050px;
  width:66px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9167 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:1050px;
  width:66px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9168_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9168_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u9168 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:251px;
  width:360px;
  height:30px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u9168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9168_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u9168.disabled {
}
#u9169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9169 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:293px;
  width:53px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u9169 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9169_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9170 label {
  left:0px;
  width:100%;
}
#u9170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u9170 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:294px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9170 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9170_img.selected {
}
#u9170.selected {
}
#u9170_img.disabled {
}
#u9170.disabled {
}
#u9170_img.selectedDisabled {
}
#u9170.selectedDisabled {
}
#u9170_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u9170_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9171 label {
  left:0px;
  width:100%;
}
#u9171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u9171 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:294px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9171 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9171_img.selected {
}
#u9171.selected {
}
#u9171_img.disabled {
}
#u9171.disabled {
}
#u9171_img.selectedDisabled {
}
#u9171.selectedDisabled {
}
#u9171_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u9171_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9172 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:320px;
  width:53px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u9172 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9172_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9173 label {
  left:0px;
  width:100%;
}
#u9173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u9173 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:321px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9173 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9173_img.selected {
}
#u9173.selected {
}
#u9173_img.disabled {
}
#u9173.disabled {
}
#u9173_img.selectedDisabled {
}
#u9173.selectedDisabled {
}
#u9173_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u9173_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9174 label {
  left:0px;
  width:100%;
}
#u9174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u9174 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:321px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9174 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9174_img.selected {
}
#u9174.selected {
}
#u9174_img.disabled {
}
#u9174.disabled {
}
#u9174_img.selectedDisabled {
}
#u9174.selectedDisabled {
}
#u9174_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u9174_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9175 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:352px;
  width:53px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u9175 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9175_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9176 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:352px;
  width:36px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u9176 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9176_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9177 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:374px;
  width:24px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u9177 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9177_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9178 label {
  left:0px;
  width:100%;
}
#u9178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u9178 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:352px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9178 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9178_img.selected {
}
#u9178.selected {
}
#u9178_img.disabled {
}
#u9178.disabled {
}
#u9178_img.selectedDisabled {
}
#u9178.selectedDisabled {
}
#u9178_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u9178_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9179 label {
  left:0px;
  width:100%;
}
#u9179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u9179 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:352px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9179 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9179_img.selected {
}
#u9179.selected {
}
#u9179_img.disabled {
}
#u9179.disabled {
}
#u9179_img.selectedDisabled {
}
#u9179.selectedDisabled {
}
#u9179_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u9179_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9180 label {
  left:0px;
  width:100%;
}
#u9180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u9180 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:375px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9180 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9180_img.selected {
}
#u9180.selected {
}
#u9180_img.disabled {
}
#u9180.disabled {
}
#u9180_img.selectedDisabled {
}
#u9180.selectedDisabled {
}
#u9180_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u9180_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9181 label {
  left:0px;
  width:100%;
}
#u9181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u9181 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:375px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9181 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9181_img.selected {
}
#u9181.selected {
}
#u9181_img.disabled {
}
#u9181.disabled {
}
#u9181_img.selectedDisabled {
}
#u9181.selectedDisabled {
}
#u9181_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u9181_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9182 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:518px;
  width:67px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u9182 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9182_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9183 label {
  left:0px;
  width:100%;
}
#u9183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u9183 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:519px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9183 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9183_img.selected {
}
#u9183.selected {
}
#u9183_img.disabled {
}
#u9183.disabled {
}
#u9183_img.selectedDisabled {
}
#u9183.selectedDisabled {
}
#u9183_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u9183_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9184 label {
  left:0px;
  width:100%;
}
#u9184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u9184 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:519px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9184 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9184_img.selected {
}
#u9184.selected {
}
#u9184_img.disabled {
}
#u9184.disabled {
}
#u9184_img.selectedDisabled {
}
#u9184.selectedDisabled {
}
#u9184_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u9184_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9185 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:550px;
  width:85px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u9185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9185_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9186 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:550px;
  width:50px;
  height:50px;
  display:flex;
}
#u9186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9187 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:604px;
  width:82px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u9187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9187_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9188 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:604px;
  width:50px;
  height:50px;
  display:flex;
}
#u9188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u9189 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:550px;
  width:92px;
  height:28px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u9189 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9189_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u9190 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:612px;
  width:92px;
  height:28px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u9190 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9190_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9191 label {
  left:0px;
  width:100%;
}
#u9191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u9191 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:294px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9191 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9191_img.selected {
}
#u9191.selected {
}
#u9191_img.disabled {
}
#u9191.disabled {
}
#u9191_img.selectedDisabled {
}
#u9191.selectedDisabled {
}
#u9191_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u9191_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9192 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:409px;
  width:53px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u9192 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9192_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9193 label {
  left:0px;
  width:100%;
}
#u9193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u9193 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:410px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9193 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9193_img.selected {
}
#u9193.selected {
}
#u9193_img.disabled {
}
#u9193.disabled {
}
#u9193_img.selectedDisabled {
}
#u9193.selectedDisabled {
}
#u9193_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u9193_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9194 label {
  left:0px;
  width:100%;
}
#u9194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u9194 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:410px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9194 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9194_img.selected {
}
#u9194.selected {
}
#u9194_img.disabled {
}
#u9194.disabled {
}
#u9194_img.selectedDisabled {
}
#u9194.selectedDisabled {
}
#u9194_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u9194_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9195 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:9px;
  width:280px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9195 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9195_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9196 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:258px;
  width:67px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u9196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9196_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9197 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:432px;
  width:53px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u9197 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9197_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9198 label {
  left:0px;
  width:100%;
}
#u9198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u9198 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:433px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9198 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9198_img.selected {
}
#u9198.selected {
}
#u9198_img.disabled {
}
#u9198.disabled {
}
#u9198_img.selectedDisabled {
}
#u9198.selectedDisabled {
}
#u9198_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u9198_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9199 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:466px;
  width:53px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u9199 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9199_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9200 label {
  left:0px;
  width:100%;
}
#u9200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u9200 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:433px;
  width:133px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9200 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9200_img.selected {
}
#u9200.selected {
}
#u9200_img.disabled {
}
#u9200.disabled {
}
#u9200_img.selectedDisabled {
}
#u9200.selectedDisabled {
}
#u9200_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:117px;
  word-wrap:break-word;
  text-transform:none;
}
#u9200_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9201 label {
  left:0px;
  width:100%;
}
#u9201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u9201 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:433px;
  width:175px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9201 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9201_img.selected {
}
#u9201.selected {
}
#u9201_img.disabled {
}
#u9201.disabled {
}
#u9201_img.selectedDisabled {
}
#u9201.selectedDisabled {
}
#u9201_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:159px;
  word-wrap:break-word;
  text-transform:none;
}
#u9201_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9202 label {
  left:0px;
  width:100%;
}
#u9202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u9202 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:465px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9202 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9202_img.selected {
}
#u9202.selected {
}
#u9202_img.disabled {
}
#u9202.disabled {
}
#u9202_img.selectedDisabled {
}
#u9202.selectedDisabled {
}
#u9202_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u9202_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9203 label {
  left:0px;
  width:100%;
}
#u9203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u9203 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:466px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9203 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9203_img.selected {
}
#u9203.selected {
}
#u9203_img.disabled {
}
#u9203.disabled {
}
#u9203_img.selectedDisabled {
}
#u9203.selectedDisabled {
}
#u9203_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u9203_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9204_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9204 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:461px;
  width:112px;
  height:25px;
  display:flex;
  font-size:12px;
}
#u9204 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9204_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9204.disabled {
}
.u9204_input_option {
  font-size:12px;
}
#u9205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9205 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:467px;
  width:12px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9205 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9205_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9206_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9206_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9206 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:461px;
  width:91px;
  height:25px;
  display:flex;
  font-size:12px;
}
#u9206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9206_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9206.disabled {
}
#u9207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u9207 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:458px;
  width:335px;
  height:32px;
  display:flex;
}
#u9207 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
