body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:772px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u110742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:574px;
  background:inherit;
  background-color:rgba(21, 22, 28, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u110742 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:115px;
  width:317px;
  height:574px;
  display:flex;
}
#u110742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(36, 38, 47, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u110743 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:126px;
  width:20px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u110743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u110744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u110744 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:128px;
  width:48px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u110744 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110744_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(36, 38, 47, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u110745 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:126px;
  width:20px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u110745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u110746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u110746 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:183px;
  width:105px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u110746 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110746_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u110747 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:183px;
  width:89px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u110747 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110747_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u110748 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:204px;
  width:105px;
  height:40px;
  display:flex;
}
#u110748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u110749 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:204px;
  width:105px;
  height:40px;
  display:flex;
}
#u110749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u110750 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:204px;
  width:40px;
  height:40px;
  display:flex;
}
#u110750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u110751 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:216px;
  width:30px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u110751 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110751_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u110752 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:216px;
  width:49px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u110752 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110752_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u110753 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:216px;
  width:9px;
  height:16px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  color:#FFFFFF;
}
#u110753 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110753_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:27px;
  background:inherit;
  background-color:rgba(62, 128, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u110754 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:268px;
  width:197px;
  height:27px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u110754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u110755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:574px;
  background:inherit;
  background-color:rgba(21, 22, 28, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u110755 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:115px;
  width:317px;
  height:574px;
  display:flex;
}
#u110755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(36, 38, 47, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u110756 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:126px;
  width:20px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u110756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u110757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u110757 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:128px;
  width:48px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u110757 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110757_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(36, 38, 47, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u110758 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:126px;
  width:20px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u110758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u110759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u110759 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:183px;
  width:105px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u110759 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110759_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u110760 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:183px;
  width:89px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u110760 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110760_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u110761 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:204px;
  width:117px;
  height:40px;
  display:flex;
}
#u110761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u110762 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:204px;
  width:115px;
  height:40px;
  display:flex;
}
#u110762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u110763 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:209px;
  width:30px;
  height:30px;
  display:flex;
}
#u110763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u110764 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:216px;
  width:30px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u110764 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110764_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u110765 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:216px;
  width:49px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u110765 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110765_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u110766 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:216px;
  width:9px;
  height:16px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  color:#FFFFFF;
}
#u110766 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110766_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:25px;
}
#u110767 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:260px;
  width:261px;
  height:25px;
  display:flex;
}
#u110767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:46px;
}
#u110768 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:325px;
  width:261px;
  height:46px;
  display:flex;
}
#u110768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:27px;
  background:inherit;
  background-color:rgba(40, 154, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u110769 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:381px;
  width:197px;
  height:27px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u110769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u110770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u110770 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:331px;
  width:35px;
  height:11px;
  display:flex;
  font-size:10px;
  color:#999999;
}
#u110770 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110770_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u110771 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:352px;
  width:53px;
  height:11px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u110771 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110771_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:49px;
}
#u110772 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:418px;
  width:261px;
  height:49px;
  display:flex;
}
#u110772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:23px;
}
#u110773 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:298px;
  width:261px;
  height:23px;
  display:flex;
}
#u110773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u110774 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:300px;
  width:20px;
  height:20px;
  display:flex;
}
#u110774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u110775 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:305px;
  width:163px;
  height:11px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u110775 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110775_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:36px;
}
#u110776 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:464px;
  width:261px;
  height:36px;
  display:flex;
}
#u110776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u110777 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:467px;
  width:193px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u110777 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
