body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u24068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:818px;
}
#u24068 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:68px;
  width:379px;
  height:818px;
  display:flex;
}
#u24068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u24069 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:345px;
  width:37px;
  height:16px;
  display:flex;
}
#u24069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u24070 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:409px;
  width:58px;
  height:16px;
  display:flex;
}
#u24070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u24071 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:409px;
  width:58px;
  height:16px;
  display:flex;
}
#u24071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u24072 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:409px;
  width:58px;
  height:16px;
  display:flex;
}
#u24072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u24073 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:475px;
  width:58px;
  height:16px;
  display:flex;
}
#u24073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u24074 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:475px;
  width:58px;
  height:16px;
  display:flex;
}
#u24074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u24075 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:472px;
  width:58px;
  height:16px;
  display:flex;
}
#u24075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u24076 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:345px;
  width:58px;
  height:16px;
  display:flex;
}
#u24076 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u24077 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:349px;
  width:31px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u24077 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24077_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u24078 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:346px;
  width:38px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u24078 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24078_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:818px;
}
#u24079 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:68px;
  width:379px;
  height:818px;
  display:flex;
}
#u24079 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u24080 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:346px;
  width:38px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u24080 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24080_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u24081 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:410px;
  width:38px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u24081 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24081_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u24082 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:410px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u24082 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24082_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u24083 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:410px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u24083 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24083_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u24084 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:472px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u24084 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24084_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u24085 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:475px;
  width:54px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u24085 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24085_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u24086 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:473px;
  width:54px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u24086 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24086_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u24087 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:9px;
  width:384px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u24087 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24087_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u24088 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:9px;
  width:416px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u24088 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24088_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u24089 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:240px;
  width:87px;
  height:16px;
  display:flex;
}
#u24089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u24090 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:241px;
  width:70px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u24090 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24090_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u24091 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:68px;
  width:505px;
  height:130px;
  display:flex;
}
#u24091 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u24091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:547px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24092 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:121px;
  width:747px;
  height:547px;
  display:flex;
}
#u24092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24093 {
  border-width:0px;
  position:absolute;
  left:1404px;
  top:127px;
  width:704px;
  height:534px;
}
#u24093_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:534px;
  overflow:auto;
}
#u24094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u24094 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:9px;
  width:320px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u24094 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24094_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u24095 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:68px;
  width:144px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u24095 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24095_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
