body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:818px;
}
#u8986 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:68px;
  width:379px;
  height:818px;
  display:flex;
}
#u8986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u8987 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:345px;
  width:37px;
  height:16px;
  display:flex;
}
#u8987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u8988 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:409px;
  width:58px;
  height:16px;
  display:flex;
}
#u8988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u8989 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:409px;
  width:58px;
  height:16px;
  display:flex;
}
#u8989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u8990 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:409px;
  width:58px;
  height:16px;
  display:flex;
}
#u8990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u8991 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:475px;
  width:58px;
  height:16px;
  display:flex;
}
#u8991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u8992 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:475px;
  width:58px;
  height:16px;
  display:flex;
}
#u8992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u8993 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:472px;
  width:58px;
  height:16px;
  display:flex;
}
#u8993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u8994 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:345px;
  width:58px;
  height:16px;
  display:flex;
}
#u8994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u8995 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:349px;
  width:31px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u8995 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8995_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u8996 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:346px;
  width:38px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u8996 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8996_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:818px;
}
#u8997 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:68px;
  width:379px;
  height:818px;
  display:flex;
}
#u8997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u8998 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:346px;
  width:38px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u8998 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8998_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u8999 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:410px;
  width:38px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u8999 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8999_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u9000 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:410px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u9000 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9000_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u9001 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:410px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u9001 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9001_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u9002 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:472px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u9002 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9002_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u9003 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:475px;
  width:54px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u9003 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9003_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u9004 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:473px;
  width:54px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u9004 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9004_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9005 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:9px;
  width:384px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9005 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9005_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9006 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:9px;
  width:416px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9006 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9006_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u9007 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:240px;
  width:87px;
  height:16px;
  display:flex;
}
#u9007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F9BC01;
}
#u9008 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:241px;
  width:70px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#F9BC01;
}
#u9008 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9008_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u9009 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:68px;
  width:505px;
  height:130px;
  display:flex;
}
#u9009 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:547px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9010 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:121px;
  width:747px;
  height:547px;
  display:flex;
}
#u9010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9011 {
  border-width:0px;
  position:absolute;
  left:1404px;
  top:127px;
  width:704px;
  height:534px;
}
#u9011_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:534px;
  overflow:auto;
}
#u9012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9012 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:9px;
  width:320px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9012 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9012_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9013 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:68px;
  width:144px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u9013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9013_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
