body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1922px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u14242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:963px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14243 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:152px;
  width:1024px;
  height:963px;
  display:flex;
}
#u14243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u14244 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:181px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u14244 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14244_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u14245 {
  border-width:0px;
  position:absolute;
  left:1436px;
  top:182px;
  width:15px;
  height:15px;
  display:flex;
  font-size:14px;
}
#u14245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u14246 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:223px;
  width:53px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u14246 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14246_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14247_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u14247 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:216px;
  width:360px;
  height:30px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u14247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14247_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u14247.disabled {
}
#u14248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(100, 126, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14249 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:1050px;
  width:66px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u14250 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:1050px;
  width:66px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u14250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u14251 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:9px;
  width:128px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u14251 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14251_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u14252 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:264px;
  width:84px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u14252 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14252_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14253_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u14253 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:256px;
  width:360px;
  height:30px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u14253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14253_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u14253.disabled {
}
#u14254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u14254 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:304px;
  width:83px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u14254 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14254_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14255_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14255_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u14255 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:296px;
  width:360px;
  height:30px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u14255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14255_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u14255.disabled {
}
#u14256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u14256 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:334px;
  width:120px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u14256 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14256_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14257 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:334px;
  width:50px;
  height:50px;
  display:flex;
}
#u14257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u14258 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:395px;
  width:117px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u14258 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14258_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14259 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:395px;
  width:50px;
  height:50px;
  display:flex;
}
#u14259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u14260 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:334px;
  width:92px;
  height:28px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u14260 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14260_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u14261 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:403px;
  width:92px;
  height:28px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u14261 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14261_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u14262 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:451px;
  width:108px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u14262 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14262_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14263 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:451px;
  width:50px;
  height:50px;
  display:flex;
}
#u14263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u14264 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:512px;
  width:105px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u14264 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14264_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14265 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:512px;
  width:50px;
  height:50px;
  display:flex;
}
#u14265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u14266 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:451px;
  width:92px;
  height:28px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u14266 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14266_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u14267 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:520px;
  width:92px;
  height:28px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u14267 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14267_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u14268 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:571px;
  width:53px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u14268 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14268_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14269 label {
  left:0px;
  width:100%;
}
#u14269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u14269 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:572px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u14269 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u14269_img.selected {
}
#u14269.selected {
}
#u14269_img.disabled {
}
#u14269.disabled {
}
#u14269_img.selectedDisabled {
}
#u14269.selectedDisabled {
}
#u14269_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u14269_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u14270 label {
  left:0px;
  width:100%;
}
#u14270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u14270 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:572px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u14270 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u14270_img.selected {
}
#u14270.selected {
}
#u14270_img.disabled {
}
#u14270.disabled {
}
#u14270_img.selectedDisabled {
}
#u14270.selectedDisabled {
}
#u14270_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u14270_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u14271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u14271 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:597px;
  width:53px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u14271 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14271_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u14272 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:597px;
  width:36px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u14272 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14272_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u14273 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:619px;
  width:24px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u14273 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14273_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14274 label {
  left:0px;
  width:100%;
}
#u14274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u14274 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:597px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u14274 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u14274_img.selected {
}
#u14274.selected {
}
#u14274_img.disabled {
}
#u14274.disabled {
}
#u14274_img.selectedDisabled {
}
#u14274.selectedDisabled {
}
#u14274_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u14274_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u14275 label {
  left:0px;
  width:100%;
}
#u14275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u14275 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:597px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u14275 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u14275_img.selected {
}
#u14275.selected {
}
#u14275_img.disabled {
}
#u14275.disabled {
}
#u14275_img.selectedDisabled {
}
#u14275.selectedDisabled {
}
#u14275_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u14275_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u14276 label {
  left:0px;
  width:100%;
}
#u14276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u14276 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:620px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u14276 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u14276_img.selected {
}
#u14276.selected {
}
#u14276_img.disabled {
}
#u14276.disabled {
}
#u14276_img.selectedDisabled {
}
#u14276.selectedDisabled {
}
#u14276_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u14276_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u14277 label {
  left:0px;
  width:100%;
}
#u14277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u14277 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:620px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u14277 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u14277_img.selected {
}
#u14277.selected {
}
#u14277_img.disabled {
}
#u14277.disabled {
}
#u14277_img.selectedDisabled {
}
#u14277.selectedDisabled {
}
#u14277_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u14277_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
